


.spinnerBox{
    background-color: rgba(255,255,255, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}


.spinner{
    width: 5em;
    height: 5em;
    border-width: 0.40em;
    color: black;
}